#error-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .error-message-card {
        background: var(--color-page-background-offset);
        color: var(--color-text);
        padding: 4rem;
        border: 1px solid transparentize($color: $primary-light, $amount: 0.8);
        h2 {
            margin-top: 0;
        }

        a {
            font-weight: bold;
            font-size: 1.2rem;

            &:hover {
                color: $primary-light;
            }
        }
    }
}
