/* PROJECT SECTION */
.project-details {
    width: var(--project-width);

    .project-capacity {
        display: inline-block;
        font-size: 0.8rem;
        padding: 5px;
        border-radius: 10px;
        border: $primary-light 1px solid;
        margin: 0.7em 0;
    }

    .project-buttons {
        margin: 1em 0;

        .btn {
            font-size: 1.2rem;
        }

        .btn-live {
            margin-right: 0.5rem;
        }

        .btn-source {
            background-color: darken($secondary-dark, 10%);
        }

        .btn-source:hover {
            background-color: $primary-dark;
        }
    }
}

.project {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-card-row {
    margin-bottom: 0;
}



.img-container {
    overflow: hidden;
    position: relative;
    height: var(--project-height);
    width: var(--project-width);

    #music-site {
        font-size: 2.4rem;
        line-height: 2.4rem;

        .signature {
            display: block;
            color: $primary-light;
            font-family: "Hoodson";
            margin: 0;
        }

        .sub-signature {
            color: $white !important;
        }
    }
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    padding: 0;
    background-color: $tertiary-dark;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.img-container .overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.445);
}