# ignore virtual environment files
env/
node_modules/
creds.py
__pycache__/
static/css/main.css
static/css/main.css.map
requirements.txt
Pipfile.lock
old_requirements.txt
.gcloudignore
index.html
static/css/materialize
*.code-workspace
/.vscode/