/* GLOBAL */
@font-face {
  font-family: "Hoodson";
  src: url("../assets/Hoodson free font .ttf");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  min-height: 100%;
}

@keyframes show-hide {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes show-hide-toggle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.001% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 400px) {
  #content > section#about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "bio" "offerings" "social";
    row-gap: 1em;
  }

  #offerings-card, #bio-card, #social-container {
    margin: 0 1em !important;
  }

  div#mobile-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 10vh;
    flex-direction: row;
    z-index: 2;
  }

  #mobile-nav > #nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  #mobile-nav > #nav-items .nav-item {
    margin: auto 2em;
    font-size: 0.8em;
  }

  footer {
    margin-bottom: 10vh;
  }

  #projects-card {
    height: 100% !important;
  }

  #side-nav {
    display: none !important;
  }

  #content > section#projects {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto 320px auto;
    grid-template-rows: auto auto 3fr;
    grid-template-areas: ". header ." ". content ." ". projects .";
    align-content: start;
    padding-bottom: 2em;
  }

  .img-container .overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.445);
    opacity: 1;
  }

  #projects-container {
    align-self: start;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  div#mobile-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 10vh;
    flex-direction: row;
    z-index: 2;
  }

  #mobile-nav > #nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  #mobile-nav > #nav-items .nav-item {
    margin: auto 2em;
  }

  footer {
    margin-bottom: 10vh;
  }

  #projects-card {
    height: 100% !important;
  }

  #side-nav {
    display: none !important;
  }

  #content > section#projects {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto 320px auto;
    grid-template-rows: auto auto 3fr;
    grid-template-areas: ". header ." ". content ." ". projects .";
    align-content: start;
    padding-bottom: 2em;
  }

  .img-container .overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.445);
    opacity: 1;
  }

  #projects-container {
    align-self: start;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .nav-item-footer {
    display: none;
  }

  #content > section#projects {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto 320px auto;
    grid-template-rows: auto;
    grid-template-areas: ". header ." ". content ." ". projects .";
    align-content: start;
    padding-bottom: 2em;
  }

  .fixed-action-btn {
    display: none;
  }

  #projects-container {
    align-self: start;
  }

  .img-container .overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.445);
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 936px) {
  .nav-item-footer {
    display: block;
  }

  #nav-items {
    font-size: 0.8em;
  }

  #content > section[id=projects] {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto 640px auto;
    grid-template-rows: auto auto 360px;
    grid-template-areas: ". header ." ". content ." ". projects .";
    padding-bottom: 2em;
  }

  #projects-card {
    height: 100% !important;
  }

  .img-container .overlay {
    display: none;
    opacity: 0;
  }

  .fixed-action-btn {
    display: none;
  }
}
@media (min-width: 936px) {
  #nav-items {
    font-size: 1em;
  }

  .nav-item-footer {
    font-size: 1.5em;
  }

  div.row > #content > section#projects {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto 320px 320px 25% auto;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: ". header header header ." ". projects projects content .";
    padding-bottom: 4em;
  }

  .fixed-action-btn {
    display: none;
  }
}
@media (min-width: 1200px) {
  .fixed-action-btn {
    display: none;
  }
}
/* TAGS */
html {
  scroll-snap-type: y proximity;
}

small {
  font-size: 90%;
}

p {
  font-size: 1.1em;
  line-height: 2em;
}

a {
  color: inherit;
}

a:hover {
  color: #0e1111;
}

h5 {
  font-size: 1.5em;
}

input:focus, textarea.materialize-textarea:focus {
  border-bottom: 1px solid #fdb53f !important;
  box-shadow: 0 0 1px 0 #fdb53f !important;
}

input:focus + label, textarea.materialize-textarea:focus + label {
  color: #fdb53f !important;
}

/* CONTENT GLOBAL */
.logo {
  font-family: "Hoodson";
  color: #fdb53f;
  font-size: 2em;
  cursor: default;
  margin: 0.5em 1em 0.2em;
}

#mobile-nav {
  display: none;
}

.content-subtitle {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

a.btn, .btn, .btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
  background-color: #116AFC;
}

section:not(:first-of-type):not(:last-of-type) {
  margin-bottom: 4em;
}

section:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.btn:hover {
  background-color: #D78703;
  color: #0e1111;
}

#content {
  padding: 0;
}

.container {
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.col {
  overflow: hidden;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600 !important;
  margin-bottom: 1em !important;
}

.card {
  background-color: #f4f4f4;
  color: #0e1111;
}

/* SECTIONS */
section {
  scroll-snap-align: start;
  min-height: 50vh;
}
section h3 {
  font-family: "Pathway Gothic One", sans-serif;
  margin-top: 5px;
  line-height: 110%;
  font-size: 4em;
  font-weight: 900;
}

/* HEADER SECTION */
section#home {
  height: 100%;
  width: 100%;
  background-image: url(/static/img/background.png);
}

.section-header {
  color: #D78703;
}

#header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subtitle {
  color: #0e1111;
}

#music-site {
  color: #4f91fd;
}

.code-block {
  background-color: #272626;
  color: #fdb53f;
}

.code-block > .code-block-slash {
  display: none;
}

.code-block > .code-block-cursor {
  animation-name: show-hide-toggle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  font-weight: 100;
  color: #116AFC;
}

.title {
  color: #0e1111;
}

/* NAV */
.toggle-container {
  display: none !important;
}

#nav-items {
  width: 100%;
  align-self: center;
}

#nav-items > a {
  transition-property: color;
  transition-duration: 0.2s;
}

#nav-items > a:hover {
  color: #fca311ff;
}

#side-nav {
  height: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-right: 1.5px solid rgba(253, 180, 63, 0.616);
  justify-content: center;
  align-items: center;
}

.nav-item > .nav-item-footer,
.nav-item > .nav-item-header {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 1.5em;
  width: 100%;
}

.nav-item {
  list-style: none;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  max-width: 70%;
  width: auto;
}

.scrollspy-active > li {
  border-bottom: #D78703 1px solid;
}

/* DARK MODE TOGGLE */
#side-nav .toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}
#side-nav i {
  margin-bottom: 10px;
}
#side-nav input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
#side-nav label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}
#side-nav label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #faf;
  border-radius: 90px;
  transition: 0.3s;
}
#side-nav input:checked + label {
  background: #131922;
}
#side-nav input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
#side-nav label:active:after {
  width: 45px;
}

/* PROJECT SECTION */
#projects-container {
  display: flex;
  flex-wrap: wrap;
  grid-area: projects;
  max-height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
}

#projects-card {
  align-self: center;
  grid-area: content;
  margin: 0;
  height: 360px;
  width: auto;
}

#project-header {
  grid-area: header;
  align-self: start;
}

.project-card-row {
  margin-bottom: 0;
}

.card-img {
  object-fit: scale-down;
}

.img-container {
  overflow: hidden;
  position: relative;
  height: 180px;
  width: 320px;
  align-self: center;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
  padding: 0;
  transition: 0.1s;
  background-color: #131922;
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
}

.img-container:hover .overlay {
  display: flex;
  background-color: rgba(0, 0, 0, 0.445);
  animation: show-hide 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.overlay > .btn {
  margin: 5px;
}

/* ABOUT SECTION */
section#about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header header" "bio    offerings" "social    offerings" "social offerings";
  grid-column-gap: 1em;
}

#social-container {
  grid-area: social;
  align-self: start;
  justify-self: center;
}

#social-container > .btn:nth-of-type(2) {
  margin: 10px;
}

#social-container > .btn > i {
  margin: 0;
}

#social-container > .social-header {
  color: #fdb53f;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 1.7em;
}

.offering-header {
  font-weight: bold;
  font-size: 1.2em;
  justify-content: start;
}

.offering-icon {
  font-size: 3em;
  color: #4f91fd;
}

.offering {
  margin-bottom: 2em;
}

#bio-card {
  grid-area: bio;
  margin-left: 1em;
  align-self: start;
}

#offerings-card {
  grid-area: offerings;
  margin-right: 1em;
}

#about-header {
  grid-area: header;
}

/* FOOTER */
/* TEMP */
.iframe-responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 725px;
}

.iframe-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*# sourceMappingURL=main.css.map */
