@import "utilities/mixins";
@import "utilities/functions";
@import "utilities/variables";
@import "utilities/animations";

@import "base/reset";
@import "base/typography";
@import "base/global";

@import "layout/responsive";
@import "layout/navigation";
@import "layout/footer";
@import "layout/scrollbar";

@import "components/buttons";
@import "components/toggle";

@import "sections/home";
@import "sections/projects";
@import "sections/about";

@import "themes/dark";

#watermark {
    display: none;
}

input:focus,
textarea.materialize-textarea:focus {
    border-bottom: 1px solid $primary-light !important;
    box-shadow: 0 0 1px 0 $primary-light !important;
    color: var(--color-text);
}

input:focus + label,
textarea.materialize-textarea:focus + label {
    color: $primary-light !important;
}

.logo {
    font-family: "Hoodson";
    color: $primary-light;
    font-size: 2em;
    cursor: default;
    margin: 0.5em 1em 0.2em;
}

.content-subtitle {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section:nth-of-type(odd) {
    background-color: var(--color-page-background-offset);
}

#content {
    padding: 0;
}

.card {
    background-color: var(--card-background);
    color: var(--color-text);
}
