/* PROJECT SECTION */

.project-title {
    font-size: 2em;
    font-weight: bold;
}

.project-details {
    width: var(--project-width);

    .project-capacity {
        display: inline-block;
        font-size: 0.8em;
        padding: 5px;
        border-radius: 10px;
        border: $primary-light 1px solid;
        margin: 0.7em 0;
    }

    .project-buttons {
        margin: 1em 0;

        .btn {
            font-size: 1.2em;
        }

        .btn-live {
            margin-right: 0.5em;
        }

        .btn-source {
            background-color: darken($secondary-dark, 10%);
        }

        .btn-source:hover {
            background-color: $primary-dark;
        }
    }
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-card-row {
    margin-bottom: 0;
}

.card-img {
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.img-container {
    overflow: hidden;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    padding: 0;
    transition: 0.1s;
    background-color: $tertiary-dark;
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

.img-container:hover .overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.445);
    -webkit-animation: show-hide 0.5s ease-in-out;
    animation: show-hide 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.overlay > .btn {
    margin: 5px;
}
