<h3 id="about-header" class="center-align section-header">About Me</h3>
<div id="about-content">


    <div class="card center-align" id="bio-card">
        <div class="card-content">
            <p>I am a full-stack web developer based in Austin, Texas with a love for creating websites and apps that
                are streamlined to reach my clients’ goal. </p>
            <p>Also being a professional musician, I am aware of the importance of tools that don't get in the way of
                your process; and that is what I hope to provide.</p>
        </div>
    </div>
    <div id="offering-section">
        <span class="card-title">I provide products that are...</span>
        <div class="center-align" id="offerings-card">
            <div class="card-content">
                <ul id="offerings">
                    <div class="offering">
                        <i class="offering-icon fas fa-tachometer-alt"></i>
                        <li class="offering-header">Fast</li>
                        <li class="offering-text">Fast load times and lag free interaction are my highest
                            priority.</li>
                    </div>
                    <div class="offering">
                        <i class="offering-icon fas fa-mobile-alt"></i>
                        <li class="offering-header">Responsive</li>
                        <li class="offering-text">My layouts will work on any device, big or small.</li>
                    </div>
                    <div class="offering">

                        <i class="offering-icon fas fa-cloud-download-alt"></i>
                        <li class="offering-header">Dynamic</li>
                        <li class="offering-text">Websites don't have to be static. I love making pages come to
                            life.
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- <div class="" id="social-container">
    <div class="social-header center-align">SOCIAL LINKS</div>
    <a class="waves-effect waves-light btn btn-large btn-floating" target=”_blank”
        href="https://github.com/dillonestrada"><i class="fa fa-github left"></i>Github</a>
    <a class="waves-effect waves-light btn btn-large btn-floating" target=”_blank”
        href="https://www.linkedin.com/in/dillonestrada/"><i class="fab fa-linkedin-in left"></i>LinkedIn</a>
    <a class="waves-effect waves-light btn btn-large btn-floating" target=”_blank”
        href="https://www.instagram.com/dillon_estrada/"><i class="fab fa-instagram left"></i>Instagram</a>
</div> -->