<div class="row">
    <div class="col s12">
        <div id="header">
            <div class="header-main">
                <div class="z-depth-1 code-block">&lt;Hello&gt;<span class="code-block-cursor">|</span></div>
                <div class="header-container">

                    <h2 id="title">
                        Welcome to my web development portfolio
                    </h2>
                    <h1 id="subtitle">I turn ideas into realities</h1>
                    <div id="cta-buttons">
                        <a class="button button-large button-primary" href="#projects">See my work</a>
                        <hr />
                        <a class="button button-large button-secondary" href="#contact">Contact me</a>
                    </div>
                </div>
            </div>
            <div class="toggle-container" id="mobile-toggle-container">
                <i class="fas fa-adjust"></i>
                <div class="toggle">
                    <input type="checkbox" class="tgl tgl-ios" id="switch2" name="theme" /><label class="tgl-btn"
                        for="switch2"></label>
                </div>
                <small class="mode-label"><span class="mode">Dark</span> Mode</small>
            </div>
        </div>
    </div>
</div>