<div class="z-depth-4" id="mobile-nav">

    <div class="nav-items center-align" id="nav-items">
        <a href="#home">
            <li class="nav-item">
                <i class="nav-icon material-icons">home</i>
                <div class="nav-item-footer">HOME</div>
            </li>
        </a>
        <a href="#projects">
            <li class="nav-item">
                <i class="nav-icon material-icons">code</i>
                <div class="nav-item-footer">PROJECTS</div>
            </li>
        </a>
        <a href="#about">
            <li class="nav-item">
                <div class="nav-item-header"></div>
                <i class="nav-icon material-icons">library_books</i>
                <div class="nav-item-footer">ABOUT</div>
            </li>
        </a>

        <a href="#contact">
            <li class="nav-item">
                <i class="nav-icon material-icons">email</i>
                <div class="nav-item-footer">CONTACT</div>
            </li>
        </a>

    </div>
</div>