<div class="nav-items center-align" id="nav-items">
    <div class="nav-item-container">
        <a href="#home">
            <li class="nav-item">
                <i class="nav-icon material-icons">home</i>
                <div class="nav-item-footer">HOME</div>
            </li>
        </a>
    </div>
    <div class="nav-item-container">
        <a href="#projects">
            <li class="nav-item">
                <i class="nav-icon material-icons">code</i>
                <div class="nav-item-footer">MY WORK</div>
            </li>
        </a>
    </div>
    <div class="nav-item-container">
        <a href="#about">
            <li class="nav-item">
                <div class="nav-item-header"></div>
                <i class="nav-icon material-icons">library_books</i>
                <div class="nav-item-footer">ABOUT</div>
            </li>
        </a>
    </div>
    <div class="nav-item-container">
        <a href="#contact">
            <li class="nav-item">
                <i class="nav-icon material-icons">email</i>
                <div class="nav-item-footer">CONTACT</div>
            </li>
        </a>
    </div>
</div>

<div class="toggle-container" id="desktop-toggle-container">
    <i class="fas fa-adjust"></i>
    <div class="toggle">
        <input type="checkbox" class="tgl tgl-ios" id="switch" name="theme" /><label class="tgl-btn"
            for="switch"></label>
    </div>
    <small class="mode-label"><span class="mode">Dark</span> Mode</small>
</div>