<h3 id="project-header" class="center-align section-header">My Work</h3>

<div id="projects-container">
    <div class="project" id="project1">
        <!-- <div class="project-title">My Project</div> -->

        <div class="img-container">
            <img class="card-img img1" alt="project 1"
                src="https://via.placeholder.com/320x180/A0A0A0/808080?text=There's" />
            <img class="card-img img2" alt="project 1"
                src="https://via.placeholder.com/560x315/A0A0A0/808080?text=There's" />
            <img class="card-img img3" alt="project 1"
                src="https://via.placeholder.com/1020x630/A0A0A0/808080?text=There's" />

            <!-- <div class="overlay">
                            <a class="waves-effect waves-light btn btn-small" href="#">Live Demo</a>
                            <a class="waves-effect waves-light btn btn-small" href="#">Source Code</a>
                        </div> -->
        </div>
        <div class="project-details">
            <div class="project-capacity">Development</div>
            <div class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores aliquid facilis reprehenderit itaque similique provident!</div>
            <div class="project-buttons">
                <div class="btn btn-live" href="#">Live Site</div>
                <div class="btn btn-source" href="#">Source Code</div>
            </div>
        </div>
    </div>
    <div class="project" id="project2">
        <!-- <div class="project-title">My Project</div> -->

        <div class="img-container">
            <img class="card-img img1" alt="project 2"
                src="https://via.placeholder.com/320x180/C0C0C0/808080?text=nothing" />
            <img class="card-img img2" alt="project 2"
                src="https://via.placeholder.com/560x315/C0C0C0/808080?text=nothing" />
            <img class="card-img img3" alt="project 2"
                src="https://via.placeholder.com/1020x630/C0C0C0/808080?text=nothing" />
            <!-- <div class="overlay">
                            <a class="waves-effect waves-light btn btn-small" href="#">Live Demo</a>
                            <a class="waves-effect waves-light btn btn-small" href="#">Source Code</a>
                        </div> -->
        </div>
        <div class="project-details">
            <div class="project-capacity">Design</div>
            <div class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores aliquid facilis reprehenderit itaque similique provident!</div>
            <div class="project-buttons">
                <div class="btn btn-live" href="#">Live Site</div>
                <div class="btn btn-source" href="#">Source Code</div>
            </div>
        </div>
    </div>

    <div class="project" id="project3">
        <!-- <div class="project-title">My Project</div> -->

        <div class="img-container">
            <img class="card-img img1" alt="project 3"
                src="https://via.placeholder.com/320x180/F0F0F0/808080?text=here" />
            <img class="card-img img2" alt="project 3"
                src="https://via.placeholder.com/560x315/F0F0F0/808080?text=here" />
            <img class="card-img img3" alt="project 3"
                src="https://via.placeholder.com/1020x630/F0F0F0/808080?text=here" />
            <!-- <div class="overlay">
                            <a class="waves-effect waves-light btn btn-small" href="#">Live Demo</a>
                            <a class="waves-effect waves-light btn btn-small" href="#">Source Code</a>
                        </div> -->
        </div>
        <div class="project-details">
            <div class="project-capacity">Custom Shopify Theme</div>
            <div class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores aliquid facilis reprehenderit itaque similique provident!</div>
            <div class="project-buttons">
                <div class="btn btn-live" href="#">Live Site</div>
                <div class="btn btn-source" href="#">Source Code</div>
            </div>
        </div>
    </div>

    <div class="project" id="project4">
        <!-- <div class="project-title">My Project</div> -->

        <div class="img-container">
            <img class="card-img img1" alt="project 4"
                src="https://via.placeholder.com/320x180/F5F5F5/808080?text=:(" />
            <img class="card-img img2" alt="project 4"
                src="https://via.placeholder.com/560x315/F5F5F5/808080?text=:(" />
            <img class="card-img img3" alt="project 4"
                src="https://via.placeholder.com/1020x630/F5F5F5/808080?text=:(" />
            <!-- <div class="overlay">
                            <a class="waves-effect waves-light btn btn-small" href="#">Live Demo</a>
                            <a class="waves-effect waves-light btn btn-small" href="#">Source Code</a>
                        </div> -->
        </div>
        <div class="project-details">
            <div class="project-capacity">Back-end</div>
            <div class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores aliquid facilis reprehenderit itaque similique provident!</div>
            <div class="project-buttons">
                <div class="btn btn-live" href="#">Live Site</div>
                <div class="btn btn-source" href="#">Source Code</div>
            </div>
        </div>
    </div>
</div>