<h3 id="project-header" class="center-align section-header">My Work</h3>

<div id="projects-container">
    <div class="project" id="project1">
        <!-- <div class="project-title">My Project</div> -->

        <div class="img-container">
            <img class="card-img img1" alt="project 1"
                src="{{ url_for('static', filename='img/music-site1020-300px.png') }}" />
            <img class="card-img img2" alt="project 1"
                src="{{ url_for('static', filename='img/music-site1020-560px.png') }}" />
            <img class="card-img img3" alt="project 1"
                src="{{ url_for('static', filename='img/music-site1020.png') }}" />

            <div class="overlay">
                <div class="site-logo center-align" id="music-site"><span class="signature">Dillon Estrada</span><span
                        class="sub-signature">MUSIC</span>
                </div>
            </div>
        </div>
        <div class="project-details">
            <div class="project-capacity">Template Customization</div>
            <div class="project-description">I created my music portfolio website as an example of what can be done with
                template customization.</div>
            <div class="project-buttons">
                <a class="btn btn-live" href="https://music.dillonestrada.com">Live Site<a>
                        <a class="btn btn-source" href="https://github.com/dillonestrada/music-portfolio"
                            target="_blank">
                            Source Code</a>
            </div>
        </div>
    </div>
    <div class="project" id="project2">
        <!-- <div class="project-title">My Project</div> -->

        <div class="img-container">
            <img class="card-img img1" alt="project 2"
                src="https://via.placeholder.com/300x168/C0C0C0/808080?text=nothing" />
            <img class="card-img img2" alt="project 2"
                src="https://via.placeholder.com/560x315/C0C0C0/808080?text=nothing" />
            <img class="card-img img3" alt="project 2"
                src="https://via.placeholder.com/1020x630/C0C0C0/808080?text=nothing" />
            <!-- <div class="overlay">
                            <a class="waves-effect waves-light btn btn-small" href="#">Live Demo</a>
                            <a class="waves-effect waves-light btn btn-small" href="#">Source Code</a>
                        </div> -->
        </div>
        <div class="project-details">
            <div class="project-capacity">Design</div>
            <div class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores aliquid facilis reprehenderit itaque similique provident!</div>
            <div class="project-buttons">
                <div class="btn btn-live" href="#">Live Site</div>
                <div class="btn btn-source" href="#">Source Code</div>
            </div>
        </div>
    </div>

    <div class="project" id="project3">
        <!-- <div class="project-title">My Project</div> -->

        <div class="img-container">
            <img class="card-img img1" alt="project 3"
                src="https://via.placeholder.com/300x168/F0F0F0/808080?text=here" />
            <img class="card-img img2" alt="project 3"
                src="https://via.placeholder.com/560x315/F0F0F0/808080?text=here" />
            <img class="card-img img3" alt="project 3"
                src="https://via.placeholder.com/1020x630/F0F0F0/808080?text=here" />
            <!-- <div class="overlay">
                            <a class="waves-effect waves-light btn btn-small" href="#">Live Demo</a>
                            <a class="waves-effect waves-light btn btn-small" href="#">Source Code</a>
                        </div> -->
        </div>
        <div class="project-details">
            <div class="project-capacity">Custom Shopify Theme</div>
            <div class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores aliquid facilis reprehenderit itaque similique provident!</div>
            <div class="project-buttons">
                <div class="btn btn-live" href="#">Live Site</div>
                <div class="btn btn-source" href="#">Source Code</div>
            </div>
        </div>
    </div>

    <div class="project" id="project4">
        <!-- <div class="project-title">My Project</div> -->

        <div class="img-container">
            <img class="card-img img1" alt="project 4"
                src="https://via.placeholder.com/300x168/F5F5F5/808080?text=:(" />
            <img class="card-img img2" alt="project 4"
                src="https://via.placeholder.com/560x315/F5F5F5/808080?text=:(" />
            <img class="card-img img3" alt="project 4"
                src="https://via.placeholder.com/1020x630/F5F5F5/808080?text=:(" />
            <!-- <div class="overlay">
                            <a class="waves-effect waves-light btn btn-small" href="#">Live Demo</a>
                            <a class="waves-effect waves-light btn btn-small" href="#">Source Code</a>
                        </div> -->
        </div>
        <div class="project-details">
            <div class="project-capacity">Back-end</div>
            <div class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores aliquid facilis reprehenderit itaque similique provident!</div>
            <div class="project-buttons">
                <div class="btn btn-live" href="#">Live Site</div>
                <div class="btn btn-source" href="#">Source Code</div>
            </div>
        </div>
    </div>
</div>