<html>
    <head>
        {% if title %}
        <title>Dillon Estrada - {{ title }}</title>
        {% else %}
        <title>Dillon Estrada</title>
        {% endif %}

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <style>
          .selector {
            background-image: url("../static/img/TextureSmall.png");
            background-repeat: no-repeat;
            height: 100vh;
            background-size: cover;
          }
          .selector-2 {
            background-image: url("../static/img/texturewhitelarge.png");
            background-repeat: no-repeat;
            height: 100vh;
            background-size: cover;
          }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
        <!--JavaScript at end of body for optimized loading-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>