{% extends "base.html" %}
{% block content %}
<div class="row" id="content" style="margin:0">
        <div class="col s12 vcenter-wrapper" style="height:100%;padding:0">
<div class="center-align vcenter" id="title-container">
    <div id="title">
        <h1 class="title-text">Dillon Estrada</h1>
    </div>
    <div class="subtitle-text tooltipped" data-position="bottom" data-tooltip="Which info do you want to see?" style="padding:12px">
        <h2 id="subtitle"><a href="./musician" class="selector" id="music-selector">Musician</a> & <a href="./programmer" class="selector" id="programmer-selector">Developer</a></h2>
    </div>
    </div>
    </div>
</div>
{% endblock %}