{% extends "base.html" %}
{% block content %}
<div class="row" style="margin:0;">
    <div class="col s6 selector waves-effect waves-light">
        <h1 class="center-align white-text">Music</h1>
        <div class="col s4 offset-s4">
            <div class="card grey lighten-3">
            	<div class="card-content">
            		<span class="card-title">Biography</span>
</div>
      </div>
        </div>
    </div>
    <div class="col s6 selector-2 waves-effect">
        <h1 class="center-align">Programming</h1>
    </div>
</div>
</div>
{% endblock %}