{% extends "base.html" %}
{% block content %}
<div class="row" style="height:100%;margin:0">
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/">Home</a></li>
  <li class="divider"></li>
  <li class="active"><a href="#!">Music</a></li>
  <li><a href="#!">Programming</a></li>
</ul>
<nav id="music-nav">
  <div class="nav-wrapper">
    <ul class="hide-on-med-and-down">
      <li class="active"><a href="./musician">Bio</a></li>
      <li><a href="#">Media</a></li>
      <li><a href="#"">Contact</a></li>
    </ul>
    <a class="dropdown-trigger brand-logo right" href="#!" data-target="dropdown1" style="font-size: 1.25rem">Music Page<i class="material-icons right">arrow_drop_down</i></a>
  </div>
</nav>
<div class="col s6 offset-s3">
<p class="flow-text white-text">Dillon Estrada is a touring drummer specializing in studio and live performances. Dillon has enjoyed playing for a wide variety of artists and bands around West Texas and the DFW metroplex including Shotgun Rider, Clayton Landua, Koe Wetzel, Randall King, and Gary Kyle.

A Seminole, TX native, Dillon discovered his love for music at an early age, and began performing during church worship services. Throughout his high school years, Dillon sharpened his skills in jazz, symphonic, and marching bands, while also being enrolled in private drum set lessons at South Plains College.

During his time at South Plains College, Dillon expanded his horizons by hooking up with well-known local and regional bands spanning genres from Stevie Ray Vaughan style blues, Texas country, hard rock, and everything inbetween.</p>
</div>
</div>
<!-- <div class="row" style="height:50%">
	<div class="col s12">
	<div class="carousel">
    <a class="carousel-item" href="#one!"><img class="responsive-img" src="{{ url_for('static', filename='/img/dpic1.jpg') }}"></a>
    <a class="carousel-item" href="#two!"><img class="responsive-img" src="{{ url_for('static', filename='/img/dpic2.jpg') }}"></a>
    <a class="carousel-item" href="#three!"><img class="responsive-img" src="{{ url_for('static', filename='/img/dpic3.jpg') }}"></a>
    <a class="carousel-item" href="#four!"><img class="responsive-img" src="{{ url_for('static', filename='/img/dpic4.jpg') }}"></a>
  </div>
</div>
</div>*-->
        
{% endblock %}