{% extends "musician-base.html" %}
{% block content %}

    
    <div class="col s4 offset-s2">
        <div class="slider" style="margin-top: 7px">
            <ul class="slides">
                <li>
                    <img src="{{ url_for('static', filename='/img/dpic1.jpg') }}">
                    <!--
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div> -->
                </li>
                <li>
                    <img src="{{ url_for('static', filename='/img/dpic2.jpg') }}">
                    <!--
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>-->
                </li>
                <li>
                    <img src="{{ url_for('static', filename='/img/dpic3.jpg') }}">
                    <!--
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div> -->
                </li>
                <li>
                    <img src="{{ url_for('static', filename='/img/dpic4.jpg') }}">
                    <!--
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div> -->
                </li>
            </ul>
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel" id="bio-panel">
            <p class="white-text">Dillon Estrada is a touring drummer specializing in studio and live performances. He currently resides in the Austin, TX area and holds a degree from the well-renowned South Plains College Commercial Music program.
            </p>
            <p class="white-text" style="margin-bottom:8">
                Dillon is currently on the road with long-time Texas Country favorite <a href="http://www.kylepark.com/index.html" target="_blank" class="animate-link">Kyle Park</a> and has had the opportunity to work with artists such as:</p>
            <ul id="artist-list" class="white-text" style="margin-top:0">
                <li class="artist"><a href="https://www.facebook.com/therealshotgunrider/" target="_blank" class="animate-link">Shotgun Rider</a></li>
                <li class="artist"><a href="https://www.facebook.com/randallkingband" target="_blank" class="animate-link">Randall King</a></li>
                <li class="artist"><a href="https://www.facebook.com/KoeWetzelMusic/" target="_blank" class="animate-link">Koe Wetzel</a></li>
                <li class="artist"><a href="https://www.facebook.com/Dylan-Wheeler-520767778410855" target="_blank" class="animate-link">Dylan Wheeler</a></li>
                <li class="artist"><a href="https://www.facebook.com/kaitlinbutts" target="_blank" class="animate-link">Kaitlin Butts</a></li>
                <li>and many more.</li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}