{% extends "musician-base.html" %}
{% block content %}
<div class="col s6 offset-s3" style="max-height:100%">
    <ul class="collapsible popout white-text">
        <li>
            <div class="collapsible-header"><i class="fa fa-headphones"></i>Studio Work</div>
            <div class="collapsible-body"><div class='embed-container'><iframe src="https://open.spotify.com/embed/playlist/2wnwpJWybTBKCXUeM1zLBD" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="fa fa-video-camera"></i>Video Playlist</div>
            <div class="collapsible-body"><div class='embed-container'><iframe src='https://www.youtube-nocookie.com/embed/videoseries?list=PLrev1ridNn9FFcYvmvB9e3kgJc6T_hexX' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe></div></div>
          </li>
        </ul>
</div>
{% endblock %}