{% extends "base.html" %}
{% block content %}
        <div class="col s12 vcenter-wrapper" style="height:100%;padding:0">
            <div id="particles-js"></div>
<div class="center-align vcenter" id="title-container">
    <div id="title">
        <h1 class="title-text">Currently Under Construction</h1>
    </div>
    <div class="subtitle-text" style="padding:12px">
        <h2 id="subtitle"><a href="./" class="selector" id="music-selector">Home</a></h2>
    </div>
    </div>
    </div>
{% endblock %}